## Author 
ALi sayed taha         
Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized 
# Objectives:
1.Data Analysis     
2.Machine Learning Model Development   
3-Documentation and Sharing

some of tha popular languages that Data Scientists use are:  
1.python    
2.R    
3.SQL

some of tha commonly used libraries used by Scientists include:  
1.NumPy   
2.pandas  
3.Matplotlip

| Data Science Tools |     
| Jupyter |    
| RStudio |    
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in python

# this is a simple arithmetic expression to multiply then integers.

In [20]:
(3*4)+5

17

# This will convert 200 minutes to hours by dividing by 60 .

In [23]:
200/60

3.3333333333333335